extends ./Layouts/index

block contenido
    main.container.mt-5
        .row
         
            .col-md-5
                img(src="https://picsum.photos/id/390/5760/3840", alt="info", class="img-fluid rounded")
            .col-md-7
                h1 Nosotros

                blockquote Una aventura nueva cada dia
                p Nam sit amet sapien pellentesque tortor aliquam aliquet. Curabitur id mi arcu. Nam mattis sem ut lorem tristique volutpat. Nam cursus venenatis tristique. Ut sit amet odio tellus. Integer elementum, dolor vitae molestie bibendum, orci justo mattis purus, sed eleifend magna enim eget lacus. Maecenas et diam mi. Ut sed felis et eros porttitor volutpat. Nam pellentesque rhoncus mi ultrices pretium. In placerat interdum mattis. Nunc ut ipsum euismod, rhoncus eros ac, fermentum arcu.
                p Nunc ut ipsum euismod, rhoncus eros ac, fermentum arcu.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="seguridad" class="img-fluid mb-4")
                    h2 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="destinos" class="img-fluid mb-4")
                    h2 Destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="precios" class="img-fluid mb-4")
                    h2 Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.